body{
	background-color: #f7f7f7;
	margin:0;
	font-family:brandon-grotesque,Gotham,Helvetica,Arial,sans-serif;
	font-weight:normal;	
}

/* 1. Defining rows, columns and tables and other definitions to be re-used throughout the site. */
.row{
	width:100%;
	margin-top:100px;
	position:relative;
	margin-left:0;
	margin-right:0;
}

.c1{
	position:relative;
	width:100%;
}

.c3{
	margin:0;
	box-sizing:border-box;
	width:33vw;
	height:33vw;
	border:1px solid white;
	display:inline-block;	
	background-color:#3399ff;	
}

.c4{
	box-sizing:border-box;
	border:1px solid white;
	display:inline-block;	
	background-color:#3399ff;
}

.c4:hover{
	background-color:#111150;
}

.c5{
	box-sizing:border-box;
	width:19.7vw;
	height:19.7vw;
	border:2px solid white;
	display:inline-block;	
	background-color:#3399ff;	
}

.row.banner.bannerLink a{
	position:absolute;
	bottom:10%;
	left:10%;
	z-index:2;
	color:white;
	font-size:200%;
	font-style:italic;
	text-align:end;
}

.row.descBox{
	background-color:#f7f7f7;
}

.row.descBox .descText{
	font-size:150%;
	color:black;
	text-align:justify;
	margin:0 5%;	
}

.row.descBox .c1 h4{
	text-align:center;
	font-size:500%;
}

/* Contact us */
.row.contactUs .c1 h4{
	text-align:center;
}

/* 1.2 Basic table definition */
.t-table{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	display:table;
}

.t-row{
	width:100%;
	display:table-row;
	padding:0;
}

.t-row .t-cell{
	position:relative;
	border:2px solid white;
	width:25vw;
	height:25vw;
	display:table-cell;
	padding:0;
	overflow:hidden;
	background-color:#111150;
}

.t-row .t-cell img{
	display:block;
	width:100%;
	height:100%;
	transition: all 0.5s;
}

.t-row .t-cell:hover img{
	transform: scale(1.1);
	opacity:0;
}

.t-row .t-cell .boxTitle{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:10;
}

.t-row .t-cell .boxTitle h1{
	position:absolute;
	text-align:center;
	color:white;
	top:40%;
	left:0;
	right:0;
}

.t-table .t-cell .sqText{
	background-color:#111150;
	box-sizing:border-box;
	position:absolute;
	width:100%;
	height:0;
	color:white;
	font-size:150%;
	overflow:hidden;
	transition:.2s;
}

.t-table .t-cell .sqText .text{
	position:absolute;
	width:100%;
	top:50%;
	text-align:center;
}

.t-table .t-cell:hover .sqText{
	height:100%;
}

/* Blocks - Title and drop-down menu for each block */
.block{
	width:100%;
	margin-top:50px;
	position:relative;

	background-color: #f7f7f7;	
}

.block h4{
	color:teal;
	text-align:center;
	font-size:150%;
}

.block .blockMenu{
	background-color:#f7f7f7;
	width:10%;
	position:absolute;
	left:50%;
	transform:translate(-50%, 0);
}

.dispMenu{
	z-index:100;
	display:none;
}

.block .blockMenu a{
	display:block;
	text-decoration:none;
	color:black;
	text-align:center;
	margin:5px;
}

.blockTitle{
	height:100%;
}

.blockTitle div{
	height:100%;
	display:inline-block;
	margin:0;
	padding:0;
	vertical-align: middle;
}

.blockTitle div p{
	margin:0;
	padding:0;
}

.blockTitle img{
	padding-top:20%;
}

.blockTitle img:hover{
	background-color:grey;
}

.blockTitle .arrowBtn{
	border:none;
	background:none;
	display:inline-block;
}

/* Titles inside blocks */
.blockName{
	display:table;
	width:100%;
	height:100%;
	z-index:10;
}

.blockName h4{
	color:white;
	font-size:250%;
	font-weight:normal;
	display:table-cell;
	text-align:center;
	text-shadow:2px 2px dimgrey;
	vertical-align:middle;
}

/* Banner titles inside banners */
.bannerName{
	display:inline-block;
	position:absolute;
	left:50px;
	bottom:25%;
}

.bannerName h4{
	color:white;
	font-size:350%;
	font-weight:normal;
	text-align:left;
	text-shadow:2px 2px dimgrey;	
	margin:0;
}

/* 1.3 Basic containers to be used in templates and instances */
.detailsContainer{
	width:100%;
	padding:0;
}

.detailHeading p{
	color:teal;
	margin:2% 0 0 10%;
}

.detailHeading, .detLeft, .detRight{
	font-size:120%;
}

.detailsContainer .details{
	margin:0;
}

.detailsContainer .details p{
	display:inline-block;
}

.detLeft{
	margin:0 0 0 10%;
}

.detRight{
	margin:0;
}

/* 1.4 Definition of articles used in featured work journalist, policy makers, researchers and students page */
.flTitle{
	margin-top:5%;
}

.flTitle h4{
	width:100%;
	text-align:center;
	font-size:150%;
	color:black;
}

.fwArticleContainer{
	width:100%;
}

.fwArticleContainer .fwArticle{
	width:100%;
	margin-top:50px;
}

.fwArticleContainer .fwArticle div{
	display:block;
	text-align:center;
}

.fwArticleContainer .fwArticle div p{
	margin:0;
}

.fwArticleContainer .fwArticle .artTitle{
	font-size:120%;
	font-weight:normal;
	color:teal;
}

.contHeading{
	margin-top:50px;
	text-align:center;
}

.contHeading p{
	font-size:125%;
}

/* Instance pages - Table format for information */
.insTab{
	width:50%;
	margin:2% 0 0 10%;
	text-align:left;
	border-bottom:2px solid gainsboro;
	border-collapse:collapse;	
}

th, td{
	border-bottom:2px solid gainsboro;
	border-collapse:collapse;
}

caption, th{
	color:teal;
}

caption{
	font-size:150%;
	text-align:left;
}

th, td{
	padding:15px;
}

/* Bootstrap - Navigation menu */
.navbar-brand{
	padding:0 0;
}

.navbar-brand>img {
    display: block;
    width: 100%;
    height: 100%;
}

.nav.navbar.navbar-default{
	border:0px;
}

.navbar-right{
	margin-right:30px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size:18px;
    font-weight:normal;
    transition:2s;
}

.navbar-default{
	border-color:#111150;
}

.navbar-collapse{
	background-color:#111150;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}

/* Bootstrap menu - banners */
.btn{
	border:none;
}

.btn-default{
	background-color:#f7f7f7;
	color:#111150;
}

.btnName{
	font-size:200%;
}

.dropdown{
	background-color:#f7f7f7;
	text-align:center;
}

.dropdown-menu{
	overflow-y:auto;
	max-height:300px;
	min-width:200px;
	left:50%;
	transform:translate(-50%,0);
}	

.btn-default.focus, .btn-default:focus {
    border-color: inherit;
}

.btn-default:hover{
	background-color:teal;
	color:white;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color:teal;
	color:white;
}

.navbar{
	margin-bottom:0;
}

/* Menu */
.clickMenu{
	width: auto;	
	padding-right:35px;
	background-color:#111150;
	background-image:url('../images/pitt-logo-bluebkg.gif');
	background-repeat:no-repeat;
	background-position:left center;
	text-align:right;
}

.mMenu{
	display:none;
}

.menu-item{
	height:60px;
	position:relative;
	display:inline-block;
	background-color:#111150;
}
	
.menu-item h4{
	font-family:brandon-grotesque,Gotham,Helvetica,Arial,sans-serif;
	font-weight:normal;	
	text-align:center;
}

.menu-item a{
	text-decoration:none;
	font-family:brandon-grotesque,Gotham,Helvetica,Arial,sans-serif;
}

.menu-item h4, .menu-item a{
	color:white;
	transition:2s;
}

.mLinks{
	z-index:1;
	position:absolute;
	width:120px;
	overflow:hidden;
	height:0px;
	left:0;
	top:60px;
	display:block;
	background-color:#111150;
	text-align:left;
	transition:0.5s;
}

.mLinks a{
	color:white;
	display:block;
	margin:10px;
	text-align:left;
}

.menu-item:hover .mLinks{
	height:100px;
}

/* Contact us */
.row.contactUs .c1 h4 p{
	text-align:justify;
	text-justify:inter-word;
}

.row.contactUs .c1 h4, .row.contactUs .c1 p{
	font-size:200%;
}

/* Definition title to be used in tab layout */
.defTitle{
	display:none;
}


/* ----------------------------------------------------- HOME PAGE-------------------------------------------------------*/
/* Banner and university logo */
.row.banner{
	margin-top:0;
	position:relative;
	border:1px solid #111150;
}

.row.banner .c1{
	width:100%;
	height:600px;
	position:relative;
	background-image:url('../images/bannerAndSquare/homePage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.pitt_logo{
	position:absolute;
	top:2%;
	left:2%;
	height:23.45vw;
	width:35vw;
}

.pitt_logo img{
	width:100%;
	height:100%;
}

/* Blocks - Title and drop-down menu for each block */
.ns.block{
	width:100%;
	margin-top:50px;
	position:relative;
	text-align:left;
	background-color: #f7f7f7;	
}

.ns.block h4{
	color:teal;
	font-size:150%;
}

.ns.block .blockMenu{
	background-color:#f7f7f7;
	width:10%;
	position:absolute;
	left:50%;
	transform:translate(-50%, 0);
}

.ns.block .dispMenu{
	z-index:100;
	display:none;
}

.ns.block .block .blockMenu a{
	display:block;
	text-decoration:none;
	color:black;
	text-align:center;
	margin:5px;
}

.ns.block .blockTitle{
	height:100%;
}

.ns.block .blockTitle div{
	height:100%;
	display:inline-block;
	margin:0;
	padding:0;
	vertical-align: middle;
}

.ns.block .blockTitle div p{
	margin:0;
	padding:0;
}

.ns.block .blockTitle img{
	padding-top:20%;
}

.ns.block .blockTitle img:hover{
	background-color:grey;
}

.ns.block .blockTitle .arrowBtn{
	border:none;
	background:none;
	display:inline-block;
}

/* Data portal */
.row.dataPortal{
	margin-top:50px;
	background-color:#3399ff;
}

.row.dataPortal .c1{
	position:relative;
	width:100%;
	height:500px;
	background-image:url('../images/bannerAndSquare/homePage_accessData.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
}

/* Data map */
.t-table.mapContainer{
	box-sizing:border-box;
	border:none;
	background-color:#f7f7f7;
	width:100%;
	display:table;
}

.t-table.mapContainer .t-row{
	border:none;
	border-collapse:collapse;
	width:100%;
	display:table-row;
	padding:0;	
}

.t-table.mapContainer .t-row .t-cell.userStats{
	border:none;
	border-collapse:collapse;
	width:30vw;
	height:25vw;
	display:table-cell;
	padding:2%;	
	vertical-align:middle;
	background-color:transparent;
}

.t-cell.userStats div{
	border:none;
	display:block;
	width:100%;
	font-style:italic;
	text-align:center;
}

.t-table.mapContainer .stTb{
	display:table;
  	border-collapse:separate;
	width:100%;
	background-color:grey;
}

.t-table.mapContainer .stTb .stTbRow{
	display:table-row;
	width:100%;
	padding-left:10px;
}

.t-table.mapContainer .stTb .stTbCol{
	display:table-cell;
	font-size:120%;
	text-align:left;
	border-bottom:2px solid grey;	
}

.t-table.mapContainer .t-row .t-cell.dataMap{
	border:none;
	border-collapse:collapse;
	position:relative;
	width:70vw;
	height:25vw;
	display:table-cell;
	background-color:transparent;
}

.t-table.mapContainer .t-row .t-cell.dataMap .c1{
	border:none;
	border-radius: 25px;
	padding:2%;
	width:100%;
	height:100%;
}

.t-table.mapContainer .t-row .t-cell.dataMap .c1 img{	
	display:block;
	width:100%;
	height:100%;
}

.dm{
	margin-top:100px;
}

.dm .dmRow{
	display:table-row;
	width:100%;
}

.dm .dmRow .dmLeftHeading, .dm .dmRow .dmRightHeading{
	display:table-cell;
	text-align:center;
	font-size:200%;
	color:teal;
}

.dmLeftHeading{
	width:30vw;
	height:100%;
}

.dmRightHeading{
	width:70vw;
	height:100%;
}

.dataMapStats{
	height:100%;
	margin:0 auto;
}

.dataMapStats td{
	padding:15px;
	font-size:200%;
	font-weight:normal;
}

/* Choropleth map */
.in1{
	width:100%;
	height:100%;
	border-radius: 25px;
}

/* Footer */
.footer{
	margin-top:100px;
}

.footer .t-row .t-cell{
	background-color:#111150;
	color:white;
	border:none;
}

.footer .t-cell .col_2 a{
	color:white;
	display:block;
	text-decoration:none;
}

/* ----------------------------------------------------- ABOUT PAGE-------------------------------------------------------*/
/* Banner and logo */
.row.aboutBanner{
	margin-top:0;
	position:relative;
}

.row.aboutBanner .c1{
	width:100%;
	height:600px;
	background-image:url('../images/bannerAndSquare/aboutPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.aboutBanner .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.aboutBanner .pitt_logo img{
	width:100%;
	height:100%;
}

/* Methods and activities */
.row.methodActivities{
	margin-top:0;
	position:relative;
}

.row.methodActivities .c1{
	width:100%;
	height:600px;
	background-image:url('../images/bannerAndSquare/aboutPage_methodsAndActivities.jpg');
	background-repeat:no-repeat;
	background-position:15% 15%;
	background-size:cover;
}

/* Contact us */
.row.contactUs .c1 p{
	font-size:150%;
	margin:0 5%;
}

/* ----------------------------------------------------- PEOPLE PAGE-------------------------------------------------------*/
/* Banner and logo */
.row.peoplePage{
	margin-top:0;
	position:relative;
}

.row.peoplePage .c1{
	width:100%;
	height:600px;
	background-image:url('../images/bannerAndSquare/peoplePage_banner.jpg');
	background-repeat:no-repeat;
	background-position:top left;
	background-size:cover;
}

.peoplePage .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.peoplePage .pitt_logo img{
	width:100%;
	height:100%;
}

/* People grid */
.row.peopleMessage p{
	color:black;
	font-size:120%;
	text-align:justify;
	padding:5px;
}

.gridContainer{
	padding:5%;
}

#grid {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0; 
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width:19%;
    padding: 0 0 21.9399% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden;
}

#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    text-align:center;
}

#grid li .hexagon img{
	width:100%;
	height:100%;
}

#grid li .personName{
	position:absolute;
	color:white;
	top:0;
	left:0;
	width:100%;
	height:100%;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
	padding:0;
	margin:0;
	z-index:10;
	text-align:center;
}

#grid li .personName h1{
	width:100%;
	height:100%;
	padding-top:50%;
	opacity:0;
	font-size:200%;
}

#grid li .personName h1 a{
	text-decoration:none;
	color:white;
}

#grid li .bgColor{
	opacity:0;
	transition:all 0.5s ease;
}


#grid li *{
    visibility: visible;
}

#grid li{
	margin: 0.10%;
}

#grid.even li {
	margin-top: -5.3%;
	margin-bottom: -5.3%;
	-o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	-moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	-webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	-ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:hover .bgColor{
	opacity:1;
	background-color:teal;
}

/* People grid - New */
.pplGrid{
	width:100%;
	border:2px black;
	margin-top:50px;
}

.row{
	width:100%;
	margin:0;
}

.col-md-4{
	width:20%;
	display:inline-block;
	margin:0;
	padding-left:0;
	padding-right:0;	
}

.colWrapper{
	width:100%;
	padding-top:100%;
	position:relative;
	overflow:hidden;
}

.colWrapper img{
	border:1px solid white;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.colWrapper .perName{
	position:absolute;
	z-index:100;
	top:0;
	left:0;
	width:100%;
	height:100%;	
	transition:all 0.5s;
	background-color:#111150;
	overflow:hidden;
	opacity:0;
	transition:0.5 ease;
}

.colWrapper .perName h4{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color:white;
	font-size:150%;
}

.colWrapper:hover .perName{
	opacity:1;
}

/* ----------------------------------------------------- PEOPLE INSTANCE PAGE-------------------------------------------------------*/

/* Bio of person */
.container{
	width:100%;
}

.bioContainer{
	width:100%;
}

.bioContainer .col-lg-8 div{
	margin-bottom:50px;
}

.bioContainer .col-lg-8 p, .bioContainer .col-lg-4 p{
	font-size:150%;
}

.bioContainer .bcImage{
	width:300px;
	height:300px;
	float:right;	
}

.bioContainer .bcImage img{
	width:100%;
	height:100%;
}

.bioPerson{
	font-size:150%;
}

.bioPerson p{
	padding:0;
	margin:0;
}

.bioPerson p:first-child{
	color:teal;
	font-size:200%;
	font-weight:normal;
}

.bioPerson p:nth-child(2){
	font-style:italic;
	font-size:150%;
}

.bioContainer h4{
	font-size:200%;
	color:teal;
}

.bioContainer.row .col-lg-12 p{
	font-size:150%;
	text-align:justify;
}

/* ----------------------------------------------------- DATA PORTAL PAGE-------------------------------------------------------*/
/* Data portal page banner and logo */
.row.dataBanner{
	margin-top:0;
	position:relative;
}

.row.dataBanner .c1{
	width:100%;
	height:600px;
	background-image:url('../images/bannerAndSquare/dataPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.dataBanner .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.dataBanner .pitt_logo img{
	width:100%;
	height:100%;
}

/* Pre-assembled data sets */
.t-table.preData{
	margin-bottom:50px;
	border-collapse:collapse;
		background-color:#2c2d2d;
}

/* .t-table.preData .t-cell{
	margin-right:10px;
} */

.t-table.preData .t-row .t-cell.sq_even{
	background-color:#111150;
}

/* Access to data used for published research */
.row.thinBanner{
	position:relative;
	margin-top:50px;
	background-color:#3399ff;
}

.row.thinBanner#b1 .c1{
	width:100%;
	height:300px;
	background-image:url('../images/bannerAndSquare/dataPage_AccessDataUsedInPublishedResearch.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
}

.row.thinBanner#b2 .c1{
	width:100%;
	height:300px;
	background-image:url('../images/bannerAndSquare/dataPage_accessToStandardizedData.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
}

.row.thinBanner#b3 .c1{
	width:100%;
	height:300px;
	background-image:url('../images/bannerAndSquare/dataPage_apiForStandardizedData.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
}

.row.descBox .c1 p{
	font-size:150%;
}

.row.descBox .c1 h4{
	font-size:200%;
} 

/* Data format */


/* Datasets by country or conditions */
.t-table.counCond{
	margin-bottom:50px;
	border-collapse:collapse;
}

.t-table.counCond .t-cell{
	margin-right:10px;
}

.t-table.counCond .t-row .t-cell.sq_even{
	background-color:#111150;
}

/* ----------------------------------------------------- DATASET TEMPLATE PAGE-------------------------------------------------------*/


/* ----------------------------------------------------- FEATUREDWORK - JOURNALIST PAGE -------------------------------------------------------*/
/* Banner and university logo */
.row.banner.journalist{
	margin-top:0;
	position:relative;
}

.row.banner.journalist .c1{
	width:100%;
	height:600px;
	position:relative;
	background-image:url('../images/bannerAndSquare/featuredWorkJournalistPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.journalist .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.journalist .pitt_logo img{
	width:100%;
	height:100%;
}

/* ----------------------------------------------------- FEATUREDWORK - POLICY MAKER PAGE -------------------------------------------------------*/
/* Banner and university logo */
.row.banner.policyMaker{
	margin-top:0;
	position:relative;
}

.row.banner.policyMaker .c1{
	width:100%;
	height:600px;
	position:relative;
	background-image:url('../images/Users_Policy.jpg');
	background-repeat:no-repeat;
	background-position:50%;
	background-size:cover;
}

.policyMaker .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.policyMaker .pitt_logo img{
	width:100%;
	height:100%;
}

/* ----------------------------------------------------- FEATUREDWORK - RESEARCHER PAGE -------------------------------------------------------*/
/* Banner and university logo */
.row.banner.researcher{
	margin-top:0;
	position:relative;
}

.row.banner.researcher .c1{
	width:100%;
	height:600px;
	position:relative;
	background-image:url('../images/bannerAndSquare/researchPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.researcher .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.researcher .pitt_logo img{
	width:100%;
	height:100%;
}

/* ----------------------------------------------------- FEATUREDWORK - STUDENTS PAGE -------------------------------------------------------*/
/* Banner and university logo */
.row.banner.student{
	margin-top:0;
	position:relative;
}

.row.banner.student .c1{
	width:100%;
	height:600px;
	position:relative;
	background-image:url('../images/bannerAndSquare/studentPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:bottom right;
	background-size:cover;
}

.student .pitt_logo{
	position:absolute;
	top:0;
	left:0;
	height:13.4vw;
	width:20vw;
}

.student .pitt_logo img{
	width:100%;
	height:100%;
}

/* ----------------------------------------------------- FEATUREDWORK - OTHERS PAGE -------------------------------------------------------*/
/* Banner and university logo */
.row.banner.fwOther{
	margin-top:0;
	position:relative;
}

.row.banner.fwOther .c1{
	width:100%;
	height:600px;
	position:relative;
	background-image:url('../images/Users_Commercial.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.fwOther .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.fwOther .pitt_logo img{
	width:100%;
	height:100%;
}

/* ----------------------------------------------------- FEATUREDWORK INSTANCE PAGE -------------------------------------------------------*/
/* Featured work container */
.newsContainer.featuredWorkInstance .newsImage{
	background-image:url('../images/bannerAndSquare/dengue.png');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.newsContainer.featuredWorkInstance .colLeft .newsText{
	padding-left:5%;
	text-align:justify;
}

.newsContainer.featuredWorkInstance .colRight{
	padding-left:5%;
	padding-right:5%;
}

/* ----------------------------------------------------- NEWS INSTANCE PAGE -------------------------------------------------------*/
/* Image in news container */
.newsContainer.newsInstance .newsImage{
	background-image:url('../images/bannerAndSquare/hands.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.newsContainer.newsInstance .colLeft .newsText{
	padding-left:5%;
	text-align:justify;
}

.newsContainer.newsInstance .colRight{
	padding-left:5%;
	padding-right:5%;
}


/* ----------------------------------------------------- FEATUREDWORK - LISTING PAGE -------------------------------------------------------*/
/* Banner and university logo */
.row.banner.listing{
	margin-top:0;
	position:relative;
}

.row.banner.listing .c1{
	width:100%;
	height:600px;
	position:relative;
	background-image:url('../images/bannerAndSquare/featuredWorkListingPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.listing .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.listing .pitt_logo img{
	width:100%;
	height:100%;
}


/* ----------------------------------------------------- MEDIA PAGE -------------------------------------------------------*/
/* Buttons for - How to use Project tycho, contact project tycho, see visualizations */
.row.mediaButtons .c3{
	margin:0;
	box-sizing:border-box;
	width:32vw;
	height:40px;
	border:1px solid white;
	display:inline-block;	
	background-color:#3399ff;		
}


/* ----------------------------------------------------- PERSON DETAILS PAGE -------------------------------------------------------*/
/* Banner and logo */
.row.personDetails{
	margin-top:0;
	position:relative;
}

.row.personDetails .c1{
	background-color:#f7f7f7;
	width:100%;
	height:200px;
}

.row.personDetails .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:10vw;
	width:15vw;
}

.row.personDetails .pitt_logo img{
	width:100%;
	height:100%;
}

.row.personDetails .personInfo{
	position:absolute;
	top:0;
	right:2%;
}

.row.personDetails .personInfo h4{
	margin-bottom:0;
	margin-top:0;
}

.row.personDetails .personInfo h4:nth-child(1){
	color:teal;
	font-size:180%;
	font-style:italic;
}

.row.personDetails .personInfo h4:nth-child(2), h4:nth-child(3){
	font-size:120%;
}

/* Person bio, photo and text */
.row.personBio{
	margin-top:0;
	position:relative;
}

.row.personBio .personPhoto{
	width:25vw;
	height:25vw;
	float:right;
	margin-left:2%;
	background-image:url('../images/wilbert.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.row.personBio .personText{
	padding-left:2%;
	font-size:120%;
	text-align:justify;
	text-justify:inter-word;
	clear:left;
}

/* ----------------------------------------------------- NEWS PAGE-------------------------------------------------------*/
/* Banner and university logo */
.row.newsPage{
	margin-top:0;
	position:relative;
}

.row.newsPage .c1{
	width:100%;
	height:600px;
	position:relative;
	background-image:url('../images/bannerAndSquare/newsPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.newsPage .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.newsPage.pitt_logo img{
	width:100%;
	height:100%;
}

/* News blocks - articles */
.t-table.ptNews .t-cell img{
	width:100%;
	height:100%;
}

/* News archive */
.row.thinBanner#n1 .c1{
	width:100%;
	height:300px;
	background-image:url('../images/bannerAndSquare/newsPage_archive.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
}

/* ----------------------------------------------------- NEWS INSTANCE PAGE-------------------------------------------------------*/
/* Logo and news article title */
.row.newsInstance{
	margin-top:0;
	position:relative;
	border:none;
}

.row.newsInstance .c1{
	position:relative;
	background-color:#f7f7f7;
	width:100%;
	height:300px;
}

.row.newsInstance .pitt_logo{
	position:absolute;
	top:4%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.row.newsInstance .pitt_logo img{
	width:100%;
	height:100%;
}

.row.newsInstance .conditionInfo{
	position:absolute;
	top:25%;
	right:15%;
	border:2px solid red;
	width:80vw;
}

.conditionInfo h3, .conditionInfo h4{
	margin-bottom:0;
	margin-top:0;
	color:teal;
	font-style:italic;
	font-weight:normal;	
}

/* News container */
.newsContainer{
	width:100%;
	display:table;
}

.newsContainer .newsRow{
	position:relative;
}

.newsContainer .newsRow .colLeft .newsText{
	position:absolute;
	top:0;
	left:0;
}

.newsContainer .newsRow{
	display:table-row;
	position:relative;
}

.newsContainer .newsRow .colLeft, .newsContainer .newsRow .colRight{
	position:relative;
	display:table-cell;
	width:50%;
}

.newsContainer .newsRow .colRight div{
	display:block;
	width:100%;
}

.newsContainer .newsRow .colRight .newsImage{
	height:400px;
}

.newsContainer .newsRow .colRight .newsLink{
	text-align:center;
	margin:25px 0;
}

.newsContainer .newsRow .colLeft{
	height:100%;
}

.newsContainer .newsRow .colLeft p{
	margin-left:5%;
	font-size:150%;
	margin-top:0;
}

/* ----------------------------------------------------- NEWS ARCHIVE PAGE-------------------------------------------------------*/
/* Banner and university logo */
.row.banner.newsArchive{
	margin-top:0;
	position:relative;
}

.row.banner.newsArchive .c1{
	width:100%;
	height:600px;
	background-image:url('../images/bannerAndSquare/newsArchivePage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.newsArchive .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.newsArchive .pitt_logo img{
	width:100%;
	height:100%;
}


/* ----------------------------------------------------- COLLABORATORS AND FUNDERS LISTING PAGE-------------------------------------------------------*/
/* Banner and university logo */
.row.banner.collabFunder{
	margin-top:0;
	position:relative;
}

.row.banner.collabFunder .c1{
	width:100%;
	height:600px;
	background-image:url('../images/bannerAndSquare/CollaboratorsFundersLisingPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.collabFunder .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.collabFunder .pitt_logo img{
	width:100%;
	height:100%;
}


/* Collaborators */
.block.funderCollab{
	color:teal;
	font-size:150%;
}

.block.funderCollab h4{
	margin:0;
}

.collabList{
	margin-bottom:5%;
}

.collabList a{
	margin-top:1%;
	display:block;
	text-align:center;
	text-decoration:none;
	color:black;
}

.funderList a{
	margin-top:1%;
	display:block;
	text-align:center;
	text-decoration:none;	
	color:black;
}

/* ----------------------------------------------------- COUNTRY AND CONDITIONS PAGE-------------------------------------------------------*/
/* Banner and university logo */
.row.banner.countryConditions{
	margin-top:0;
}

.row.banner.countryConditions .c1{
	width:100%;
	height:600px;
	position:relative;
	background-image:url('../images/bannerAndSquare/countriesConditionsPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.countryConditions .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.countryConditions .pitt_logo img{
	width:100%;
	height:100%;
}

/* Conditions */
.vMenu{
	width:40vw;
	margin:0 auto;
}

.vMenu a{
	display:block;
	text-align:center;
	margin-top:15px;
	text-decoration: none;
	color:black;
}

.vMenu a:hover{
	color:teal;
	font-weight:bold;
}

/* ----------------------------------------------------- COUNTRY AND CONDITIONS - CONDITION INSTANCE PAGE-------------------------------------------------------*/
/* Logo and condition name */
.row.insPageDetails{
	margin-top:0;
	position:relative;
	border:none;
}

.row.insPageDetails .c1{
	position:relative;
	background-color:#f7f7f7;
	width:100%;
	height:300px;
}

.row.insPageDetails .pitt_logo{
	position:absolute;
	top:4%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.row.insPageDetails .pitt_logo img{
	width:100%;
	height:100%;
}

.row.insPageDetails .insInfo{
	position:absolute;
	top:25%;
	right:15%;
}

.row.insPageDetails .insInfo h4{
	margin-bottom:0;
	margin-top:0;
	color:black;
	font-size:350%;
	font-weight:normal;	
}

/* ----------------------------------------------------- COUNTRY AND CONDITIONS - COUNTRY INSTANCE PAGE-------------------------------------------------------*/
/* Logo and condition name */
.row.countryDetails{
	margin-top:0;
	position:relative;
	border:none;
}

.row.countryDetails .c1{
	position:relative;
	background-color:#f7f7f7;
	width:100%;
	height:300px;
}

.row.countryDetails .pitt_logo{
	position:absolute;
	top:4%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.row.countryDetails .pitt_logo img{
	width:100%;
	height:100%;
}

.row.countryDetails .countryInfo{
	position:absolute;
	top:25%;
	right:15%;
}

.row.countryDetails .countryInfo h4{
	margin-bottom:0;
	margin-top:0;
	color:black;
	font-size:350%;
	font-weight:normal;	
}

/* ----------------------------------------------------- RESEARCH ENVIRONMENT PAGE-------------------------------------------------------*/
/* Banner and university logo */
.row.banner.resEnv{
	margin-top:0;
	position:relative;
}

.row.banner.resEnv .c1{
	width:100%;
	height:600px;
	position:relative;
	background-image:url('../images/bannerAndSquare/researchEnvironmentPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.resEnv .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:10vw;
	width:10vw;
}

.resEnv .pitt_logo img{
	width:100%;
	height:100%;
}

/* University of Pittsburgh */
.row.uPitt{
	margin-top:50px;
	background-color:#3399ff;
}

.row.uPitt .c1{
	width:100%;
	height:60vh;
	position:relative;
	background-image:url('../images/bannerAndSquare/researchEnvironmentPage_uPitt.jpg');
	background-repeat:no-repeat;
	background-position:75%;
	background-size:cover;	
	border:1px solid #111150;
}

.uPitt .bannerName_up{
	display:inline-block;
	position:absolute;
	top:50px;
	right:50px;
}

.uPitt .bannerName_up h4{
	color:white;
	font-size:200%;
	text-align:left;
	text-shadow:2px 2px dimgrey;	
	margin:0;
}

/* Public Health Dynamics Lab */
.row.phdl{
	margin-top:50px;
	background-color:#3399ff;
}

.row.phdl .c1{
	width:100%;
	height:500px;
	background-image:url('../images/bannerAndSquare/researchEnvironmentPage_PHDL.jpg');
	background-repeat:no-repeat;
	background-position:10% 10%;
	background-size:cover;	
	border:1px solid #111150;
}

.bannerName_ph{
	display:inline-block;
	position:absolute;
	bottom:50px;
	right:50px;
}

.bannerName_ph h4{
	color:white;
	font-size:200%;
	text-align:left;
	text-shadow:2px 2px dimgrey;	
	margin:0;
}

/* Vaccine Modelling Initiative */
.row.vmi{
	margin-top:50px;
	background-color:#3399ff;
}

.row.vmi .c1{
	width:100%;
	height:500px;
	background-image:url('../images/bannerAndSquare/researchEnvironmentPage_VMI.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
	border:1px solid #111150;
}

.bannerName_vm{
	display:inline-block;
	position:absolute;
	bottom:50px;
	right:50px;
}

.bannerName_vm h4{
	color:white;
	font-size:200%;
	text-align:left;
	text-shadow:2px 2px dimgrey;	
	margin:0;
}

/* Description about PHDL - 2 with the MIDAS pic */
.row.descBox.midasCont{
	position:relative;
	background-color:#f7f7f7;
	height:10vw;	
	margin-bottom:5%;
}

.row.descBox.midasCont .descText{
	font-size:150%;
	text-align:justify;
	text-justify:inter-word;
	clear:right;
}

.row.descBox .descText.re{
	text-align:justify;
	text-justify:inter-word;
}

.midasCont .midas{
	float:left;
	height:10vw;
	width:15vw;	
}

.midasCont .midas img{
	width:100%;
	height:100%;
}

/* ----------------------------------------------------- USERS PAGE-------------------------------------------------------*/
/* Banner and university logo */
.row.banner.usersPage{
	margin-top:0;
	position:relative;
}

.row.banner.usersPage .c1{
	width:100%;
	height:70vh;
	position:relative;
	background-image:url('../images/bannerAndSquare/usersPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:top left;
	background-size:cover;
}

.usersPage .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.usersPage .pitt_logo img{
	width:100%;
	height:100%;
}


/* ----------------------------------------------------- MEDIA QUERIES -------------------------------------------------------*/
@media screen and (min-width:1500px) {
	.c4.featuredItem{
		width:19vw;
		height:19vw;
	}
	
	.t-row .t-cell, .t-table.team .t-cell{
		width:20vw;
		height:20vw;
	}	
	
	.menu-item{
		margin-right:3%;
	}	
	
	.t-table.footer .t-row .t-cell .col_2{
		display:block;
	}	
}

@media screen and (min-width:1100px) and (max-width: 1500px) {
	.c4.featuredItem{
		width:24vw;
		height:24vw;
	}
	
	.clickMenu{
		padding-right:30px
	}
	
	.menu-item{
		margin-right:2%;
	}
	
	.t-row .t-cell, .t-table.team .t-cell{
		width:25vw;
		height:25vw;
	}	
	
	.t-cell.t5, .t-cell.t10{
		display:none;
	}
	
	.t-table.footer .t-row .t-cell .col_2{
		display:block;
	}
	
}

@media screen and (min-width:800px) and (max-width: 1100px) {
	.c4.featuredItem{
		width:32vw;
		height:32vw;
	}
	
	.menu-item{
		margin-right:1%;
	}	
	
	.clickMenu{
		padding-right:25px
	}	
	
	.t-cell.t4, .t-cell.t8{
		display:none;
	}
	
	.t-cell.t5, .t-cell.t10{
		display:none;
	}
		
	.t-row .t-cell, .t-table.team .t-cell{
		width:33vw;
		height:33vw;
	}
	
	.t-table.footer .t-row .t-cell .col_2{
		display:block;
	}
}

@media screen and (min-width:680px) and (max-width: 800px) {
	.c4.featuredItem{
		width:33vw;
		height:33vw;
	}
	
	.menu-item{
		margin-right:1%;
	}
	
	.clickMenu{
		padding-right:0px
	}
		
	.row.banner .c1{
		height:60vw;
	}
	
	.t-cell.t4, .t-cell.t8{
		display:none;
	}
	
	.t-cell.t5, .t-cell.t10{
		display:none;
	}
		
	.t-row .t-cell, .t-table.team .t-cell{
		width:33vw;
		height:33vw;
	}	
}

































