body{
	background-color:#f7f7f7;
  	margin: 0px;
  	padding: 0px;
}

/* 1. Defining rows, columns and tables and other definitions to be re-used throughout the site. */
/* 1.1 Basic row - column definition */
.row{
	width:100%;
	margin-top:100px;
	position:relative;
	margin-left:0;
	margin-right:0;	
}

.c1{
	width:100%;
	text-align:center;
}

.c3{
	margin:0;
	box-sizing:border-box;
	width:33vw;
	height:33vw;
	border:1px solid white;
	display:inline-block;	
	background-color:#3399ff;	
}

.c4{
	box-sizing:border-box;
	border:1px solid white;
	display:inline-block;	
	background-color:#3399ff;
}

.c4:hover{
	background-color:#111150;
}

.c5{
	box-sizing:border-box;
	width:19.7vw;
	height:19.7vw;
	border:2px solid white;
	display:inline-block;	
	background-color:#3399ff;	
}

.row.banner.bannerLink a{
	position:absolute;
	bottom:10%;
	left:10%;
	z-index:2;
	color:white;
	font-size:200%;
	font-style:italic;
	text-align:end;
}

.row.descBox{
	background-color:#f7f7f7;
	margin-top:50px;
}

.row.descBox .descText{
	font-size:150%;
	color:black;
	text-align:justify;
	padding:5px;	
}

/* 1.2 Basic table definition */
.t-table{
	width:100%;
	display:table;
}

.t-row{
	box-sizing:border-box;
	display:table-row;
	width:100%;
	padding:0;
	margin:0;
}

.t-row .t-cell{
	position:relative;
	width:33vw;
	height:33vw;
	display:table-cell;
	padding:0;
	overflow:hidden;
	background-color:#111150;
	border:1px solid white;
}

.t-row .t-cell img{
	display:block;
	width:100%;
	height:100%;
	transition: all 0.5s;
}

.t-row .t-cell:hover img{
	transform: scale(1.1);
	opacity:0;
}

.t-cell.t4, .t-cell.t5{
	display:none;
}

.t-table .t-cell .sqText{
	background-color:#111150;
	box-sizing:border-box;
	position:absolute;
	width:100%;
	height:0;
	color:white;
	font-size:150%;
	overflow:hidden;
	transition:.2s;
}

.t-table .t-cell .sqText .text{
	position:absolute;
	width:100%;
	top:50%;
	text-align:center;
}

.t-table .t-cell:hover .sqText{
	height:100%;
}

/* Blocks - Title and drop-down menu */
.block{
	margin-top:40px;
	position:relative;
}

.block h4{
	color:teal;
	font-size:150%;
	text-align:center;
}

.block .blockMenu{
	background-color:#ffffe5;
	width:10%;
	position:absolute;
	left:50%;
	transform:translate(-50%, 0);
}

.dispMenu{
	z-index:100;
	display:none;
}

.block .blockMenu a{
	display:block;
	text-decoration:none;
	color:black;
	text-align:center;
	margin:5px;
}

.blockTitle{
	height:100%;
}

.blockTitle div{
	height:100%;
	display:inline-block;
	margin:0;
	padding:0;
	vertical-align: middle;
}

.blockTitle div p{
	margin:0;
	padding:0;
}

.blockTitle img{
	padding-top:20%;
}

.blockTitle img:hover{
	background-color:grey;
}

.blockTitle .arrowBtn{
	border:none;
	background:none;
	display:inline-block;
}

/* Bootstrap - Navigation menu */
.navbar-brand{
	padding:0 0;
}

.navbar-brand>img {
    display: block;
    width: 100%;
    height: 100%;
}

.navbar-right{
	margin-right:30px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size:18px;
    font-weight:normal;
}

.navbar-collapse{
	background-color:#111150;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-header{
	background-color:#111150;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:white;
}

.navbar-default .navbar-toggle{
	border:white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color:transparent;
}

.navbar{
	border:none;
}

/* Bootstrap menu - banners */
.btn{
	border:none;
}

.btn-default{
	background-color:#f7f7f7;
}

.btnName{
	font-size:150%;
}

.dropdown{
	background-color:#f7f7f7;
	text-align:center;
}

.dropdown-menu{
	overflow-y:auto;
	max-height:300px;
	min-width:200px;
	left:50%;
	transform:translate(-50%,0);
}	

.btn-default.focus, .btn-default:focus {
    border-color: inherit;
}

.btn-default:hover{
	background-color:teal;
	color:white;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color:teal;
	color:white;
}

.navbar{
	margin-bottom:0;
}

/* Banner titles inside banners */
.bannerName{
	display:inline-block;
	position:absolute;
	left:50px;
	bottom:25%;
}

.bannerName h4{
	color:white;
	font-size:200%;
	font-weight:normal;
	text-align:left;
	text-shadow:2px 2px dimgrey;	
	margin:0;
}

/* Titles inside blocks */
.blockName{
	display:table;
	width:100%;
	height:100%;
	z-index:10;
}

.blockName h4{
	color:white;
	font-size:200%;
	font-weight:normal;
	display:table-cell;
	text-align:center;
	text-shadow:2px 2px dimgrey;
	vertical-align:middle;
}

/* 1.3 Basic containers to be used in templates and instances */
.detailsContainer{
	width:100%;
	padding:0;
}

.detailHeading p{
	color:teal;
	margin:2% 0 0 10%;
}

.detailHeading, .detLeft, .detRight{
	font-size:120%;
}

.detailsContainer .details{
	margin:0;
}

.detailsContainer .details p{
	display:inline-block;
}

.detLeft{
	margin:0 0 0 10%;
}

.detRight{
	margin:0;
}

/* 1.4 Definition of articles used in featured work journalist, policy makers, researchers and students page */
.flTitle{
	margin-top:5%;
}

.flTitle h4{
	width:100%;
	text-align:center;
	font-size:150%;
	color:black;
}

.fwArticleContainer{
	width:100%;
}

.fwArticleContainer .fwArticle{
	width:100%;
	margin-top:50px;
}

.fwArticleContainer .fwArticle div{
	display:block;
	text-align:center;
}

.fwArticleContainer .fwArticle div p{
	margin:0;
}

.fwArticleContainer .fwArticle .artTitle{
	font-size:120%;
	font-weight:bold;
	color:teal;
}

.contHeading{
	margin-top:50px;
	text-align:center;
}

.contHeading p{
	font-size:125%;
}

/* Instance pages - Table format for information */
.insTab{
	width:100%;
	margin:2% 0 0 10%;
	text-align:left;
}

table, th, td{
	border-bottom:2px solid gainsboro;
	border-collapse:collapse;
}

caption, th{
	color:teal;
}

caption{
	font-size:150%;
	text-align:left;
}

th, td{
	padding:15px;
}


/* Navigation Menu */
nav{
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.5;
	width: 100%;
}

.mMenu{
	position:relative;
	display:block;
	width:100%;
	height:50px;
	text-align:center;
	background-color:#111150;
}

.mMenu h4{
	color:white;
  	font-size: 15px;
  	font-weight: 500;
}
	
.menuButton{
	position:absolute;
	top:0;
	right:10px;	
}
	
.menuButton div{
	display:block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 6px;
}
	
.menu-item {
	background: #111150;
	width: 100%; 
	text-align:center;
	display:none;
}
		
.menu-item h4 {
	margin:0;
	border-bottom: 1px solid rgba(0,0,0,0.3);
  	border-top: 1px solid rgba(255,255,255,0.2);
  	color: #fff;
  	font-size: 15px;
  	font-weight: 500;
  	padding: 7px 12px;
  	background: #111150; 
}

.menu-item h4 > a {
	color: white;
	display: block;
	text-decoration: none;
	width: 100%;
}

.menu-item h4:hover {  
  	background: #cc002c; 
}
	
.mLinks{
	display:none;
	border:2px solid black;
}

.mLinks a{
	display:block;
	text-align:center;
	text-decoration:none;
	color:white;
}

.dispBlock{
	display:block;
}

/* Footer */
.t-table.footer{
	width:100%;
}

.t-table.footer .t-row{
	margin:0;
	display:block;
	width:100%;
}

.t-table.footer .t-row .t-cell{
	border:none;
	display:block;
	width:100%;
	height:auto;
}

.t-table.footer .t-row .t-cell .col_1{
	color:white;
	text-align:center;
	width:100%;
}

.t-table.footer .t-row .t-cell .col_2{
	display:none;
	width:100%;
}

.t-table.footer .t-row .t-cell .col_2 a{
	border:none;
}

.colShow{
	display:block;
}

/* Conditions */
.vMenu{
	width:40vw;
	margin:0 auto;
}

.vMenu a{
	display:block;
	text-align:center;
	margin-top:15px;
	text-decoration: none;
	color:black;
}

.vMenu a:hover{
	color:teal;
}

/* Definition title to be used in tab layout */
.defTitle h4{
	color:teal;
	margin:2% 0 0 10%;
	font-size:120%;
}

/* Instance page - Banner and logo */
.instContainer{
	margin-top:10px;
	margin-bottom:50px;
	color:teal;
	font-style:italic;
	font-weight:normal;
}

.instContainer .col-lg-4 img{
	height:13.4vw;
	width:20vw;
}

.instContainer .col-lg-8{
	text-align:left;
	padding-right:60px;
}

/* Instance tables */
.tableLeftCol{
	width:40vw;
}

.tableRightCol{
	width:60vw;
}

/* ----------------------------------------------------- HOME PAGE-------------------------------------------------------*/
/* Featured work */
.t-table.featuredWork{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	display:table;
	position:relative;
}

.t-table.featuredWork .t-row{
	width:100%;
	display:table-row;
	padding:0;
}

.t-table.featuredWork .t-cell{
	position:relative;
	width:33vw;
	height:33vw;
}

.t-table.featuredWork .t-cell img{
	border-collapse:collapse;
	width:100%;
	height:100%;
}

/* Data Portal */
.row.dataPortal{
	width:100%;
	height:30vh;
	margin-top:40px;
}

.row.dataPortal .c1{
	width:100%;
	height:100%;
	background-image:url('../images/HomePage_AccessData.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;		
}

/* Data Map */
.t-table.mapContainer .t-cell.userStats{
	display:none;
}

.t-table.mapContainer .t-cell.dataMap{
	width:100%;
	height:100%;
	margin:0;
}

.t-cell.dataMap .c1{
	width:100%;
	height:30vh;
	background-image:url('../images/ProjecTycho_UsersMap.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;		
}

.t-cell.userStats div{
	border:none;
	display:block;
	width:100%;
	font-style:italic;
	text-align:center;
}

.t-table.mapContainer .stTb{
	display:table;
  	border-collapse:separate;
	width:100%;
	background-color:grey;
}

.t-table.mapContainer .stTb .stTbRow{
	display:table-row;
	width:100%;
	padding-left:10px;
}

.t-table.mapContainer .stTb .stTbCol{
	display:table-cell;
	font-size:120%;
	text-align:left;
	border-bottom:2px solid grey;	
}

.dm{
	margin-top:100px;
}

.dm .dmRow{
	display:table-row;
	width:100%;
}

.dm .dmRow .dmLeftHeading, .dm .dmRow .dmRightHeading{
	display:table-cell;
	text-align:center;
	font-size:200%;
	color:teal;
}

.dmLeftHeading{
	width:30vw;
	height:100%;
}

.dmRightHeading{
	width:70vw;
	height:100%;
}

.dataMapStats{
	height:100%;
	margin:0 auto;
}

.dataMapStats td{
	padding:15px;
	font-size:200%;
}


/* News block */
.t-table.news{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	display:table;
	position:relative;
}

.t-table.news .t-row{
	width:100%;
	display:table-row;
	padding:0;
}

.t-table.news .t-cell{
	position:relative;
	width:33vw;
	height:33vw;
}

.t-table.news .t-cell img{
	border-collapse:collapse;
	width:100%;
	height:100%;
}

/* Team */
.t-table.team{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	display:table;
	position:relative;
}

.t-table.team .t-row{
	width:100%;
	display:table-row;
	padding:0;
}

.t-table.team .t-cell{
	position:relative;
	width:33vw;
	height:33vw;
}

.t-table.team .t-cell img{
	border-collapse:collapse;
	width:100%;
	height:100%;
}

/* ----------------------------------------------------- FEATUREDWORK INSTANCE PAGE-------------------------------------------------------*/
/* Featured work container */
.newsContainer.featuredWorkInstance .newsImage{
	background-image:url('../images/bannerAndSquare/dengue.png');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.newsContainer.featuredWorkInstance .colLeft .newsText{
	padding-left:5%;
	padding-right:5%;
	text-align:justify;
}

.newsContainer.featuredWorkInstance .colRight{
	padding-left:5%;
	padding-right:5%;
}

.instContainer .col-lg-4 img{
	height:13.4vw;
	width:20vw;
}



/* ----------------------------------------------------- ABOUT PAGE-------------------------------------------------------*/
/* Banner and logo */
.row.aboutBanner{
	margin-top:0;
	position:relative;
}

.row.aboutBanner .c1{
	width:100%;
	height:30vh;
	background-image:url('../images/bannerAndSquare/aboutPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.aboutBanner .pitt_logo{
	position:absolute;
	top:0;
	left:0;
	height:10vh;
	width:10vh;
}

.aboutBanner .pitt_logo img{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.t-table.collaborators .t-cell.t5, .t-table.collaborators .t-cell.t10{
	display:none;
}

/* Methods and activities */
.row.methodActivities{
	margin-top:0;
	position:relative;
}

.row.methodActivities .c1{
	width:100%;
	height:30vh;
	background-image:url('../images/bannerAndSquare/aboutPage_methodsAndActivities.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

/* Collaborators */
.t-table.collaborators .t-cell.t5, .t-table.collaborators .t-cell.t10{
	display:none;
}

/* Funding agencies */
.t-table.funding .t-cell.t5, .t-table.funding .t-cell.t10{
	display:none;
}

/* ----------------------------------------------------- DATA PORTAL PAGE-------------------------------------------------------*/
/* Banner and logo */
.row.dataBanner .c1 {
    width: 100%;
    height: 40vh;
    background-image: url(../images/bannerAndSquare/dataPage_banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.dataBanner .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.dataBanner .pitt_logo img{
	width:100%;
	height:100%;
}

/* Pre-assembled data sets */
.t-table.preData{
	margin-bottom:50px;
}

.t-table.preData .t-cell{
	border:2px solid white;
}

.t-table.preData .t-row .t-cell.sq_even{
	background-color:teal;
}

/* Access to data used for published research */
.row.thinBanner{
	position:relative;
	margin-top:50px;
	background-color:#3399ff;
}

.row.thinBanner .thinBannerText{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
}

.row.thinBanner .thinBannerText p{
	margin-top:5%;
	color:white;
	font-size:300%;
}

.row.thinBanner .c1:hover{
	background-color:#111150;	
}

.row.thinBanner#b1 .c1{
	width:100%;
	height:300px;
	background-image:url('../images/bannerAndSquare/dataPage_AccessDataUsedInPublishedResearch.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
}

.row.thinBanner#b2 .c1{
	width:100%;
	height:300px;
	background-image:url('../images/bannerAndSquare/dataPage_accessToStandardizedData.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
}

.row.thinBanner#b3 .c1{
	width:100%;
	height:300px;
	background-image:url('../images/bannerAndSquare/dataPage_apiForStandardizedData.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
}

.row.descBox .c1 p, .row.descBox .c1 h4 {
	font-size:150%;
}

/* Datasets by country or conditions */
.t-table.counCond{
	margin-bottom:50px;
}

.t-table.counCond .t-cell{
	border:2px solid white;
}

.t-table.counCond .t-row .t-cell.sq_even{
	background-color:teal;
}

/* ----------------------------------------------------- DATASET TEMPLATE PAGE-------------------------------------------------------*/
/* Banner and logo */
.row.insPageDetails{
	margin-top:0;
	position:relative;
	border:none;
}

.row.insPageDetails .c1{
	position:relative;
	background-color:#f7f7f7;
	width:100%;
	height:40vh;
}

.row.insPageDetails .pitt_logo{
	display:none;
}

.row.insPageDetails .insInfo{
	position:absolute;
	top:25%;
	right:15%;
}

.row.insPageDetails .insInfo h4{
	margin-bottom:0;
	margin-top:0;
	color:black;
	font-size:350%;
	font-weight:normal;	
}

/* ----------------------------------------------------- NEWS PAGE-------------------------------------------------------*/
/* News archive */
.row.thinBanner#n1 .c1{
	width:100%;
	height:300px;
	background-image:url('../images/NewsArchive.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
}

/* ----------------------------------------------------- COMMUNITY PAGE-------------------------------------------------------*/
/* Beginning of registered users map */
.mapRegistered{
	position:relative;
	margin-top:5px;
	height:100px;
	width:100%;
	background-color:#111150;
}

.mapRegistered div h4{
	position:absolute;
	top:50%;
	left:30%;
	font-size:150%;
	color:white;
}

/* Beginning of Buttons - Student, researcher, practitioner, media */
.commButtons{
	height:60px;
	margin-top:5px;
}

.commButtonsItem button{
	width:50%;
	height:30px;
	float:left;
	color:white;
	background-color:#111150;
}
	
.forClear{
	clear:both;
}

/* Beginning of Social */
.socialMedia{
	position:relative;
	margin-top:5px;
	height:100px;
	width:100%;
	background-color:#111150;
}

.socialMedia div h4{
	position:absolute;
	top:50%;
	left:30%;
	font-size:150%;
	color:white;
}


/* Beginning of Footer */
.footer{
	margin-top:5px;
	width:100%;
	background-color:#111150;
}

.footer div{
	display:block;
}
	
.footer div a{
	border:1px solid white;
	display:block;
	color:white;
	text-align:center;
	text-decoration:none;
}

/* ----------------------------------------------------- PEOPLE PAGE-------------------------------------------------------*/
/* People grid */
.row.peopleMessage p{
	color:black;
	font-size:120%;
	text-align:justify;
	padding:5px;
}

.gridContainer{
	padding:5%;
}

#grid {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0; 
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width:19%;
    padding: 0 0 21.9399% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden;
}

#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    text-align:center;
}

#grid li .hexagon img{
	width:100%;
	height:100%;
}

#grid li .personName{
	position:absolute;
	color:white;
	top:0;
	left:0;
	width:100%;
	height:100%;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
	padding:0;
	margin:0;
	z-index:10;
	text-align:center;
}

#grid li .personName h1{
	width:100%;
	height:100%;
	padding-top:50%;
	opacity:0;
	font-size:50%;
}

#grid li .personName h1 a{
	text-decoration:none;
	color:white;
}

#grid li .bgColor{
	opacity:0;
	transition:all 0.5s ease;
}


#grid li *{
    visibility: visible;
}

#grid li{
	margin: 0.10%;
}

#grid.even li {
	margin-top: -5.3%;
	margin-bottom: -5.3%;
	-o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	-moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	-webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	-ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:hover .bgColor{
	opacity:1;
	background-color:teal;
}

/* People grid - New */
.pplGrid{
	width:100%;
	border:2px black;
	margin-top:50px;
}

.row{
	width:100%;
	margin:0;
}

.col-md-4{
	width:20%;
	display:inline-block;
	margin:0;
	padding-left:0;
	padding-right:0;	
}

.colWrapper{
	width:100%;
	padding-top:100%;
	position:relative;
}

.colWrapper img{
	content:"One";
	border:1px solid white;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* ----------------------------------------------------- PEOPLE INSTANCE PAGE-------------------------------------------------------*/
/* Logo and news article title */
.row.newsInstance{
	margin-top:0;
	position:relative;
}

.row.newsInstance .c1{
	position:relative;
	background-color:#f7f7f7;
	width:100%;
	height:200px;
}

.row.newsInstance .pitt_logo{
	display:none;
}

.row.newsInstance .pitt_logo img{
	width:100%;
	height:100%;
}

.row.newsInstance .conditionInfo{
	position:absolute;
	top:25%;
	padding-left:30px;
	width:80vw;
}

.conditionInfo h3, .conditionInfo h4{
	margin-bottom:0;
	margin-top:0;
	text-align:justify;
	color:teal;
	font-style:italic;
	font-weight:normal;	
}

/* Bio of person */
.container{
	width:100%;
}

.bioContainer{
	width:100%;
}

.bioContainer .col-lg-8 div{
	margin-bottom:20px;
}

.bioContainer .col-lg-8 p{
	font-size:100%;
}

.bioContainer .col-lg-4 p{
	font-size:100%;
}

.bioContainer.row .col-lg-12 p{
	padding-top:30px;
	font-size:100%;
	text-align:justify;
}

.bioContainer .bcImage{
	width:300px;
	height:300px;
	float:left;	
}

.bioContainer .bcImage img{
	width:100%;
	height:100%;
}

.bioPerson{
	display:none;
}

.bioPerson p{
	padding:0;
	margin:0;
}

.bioPerson p:first-child{
	color:teal;
	font-size:200%;
	font-weight:normal;
}

.bioPerson p:nth-child(2){
	font-style:italic;
	font-size:150%;
}

.bioContainer h4{
	font-size:200%;
	color:teal;
}

/* ----------------------------------------------------- NEWS INSTANCE PAGE-------------------------------------------------------*/
/* News container */
.newsContainer.newsInstance .newsImage{
	background-image:url('../images/bannerAndSquare/dengue.png');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.newsContainer.newsInstance .colLeft .newsText{
	padding-left:5%;
	padding-right:5%;
	text-align:justify;
}

.newsContainer.newsInstance .colRight{
	padding-left:5%;
	padding-right:5%;
}



/* ----------------------------------------------------- COLLABORATOR AND FUNDERS LISTING PAGE-------------------------------------------------------*/
/* Collaborators */
.block.funderCollab{
	color:red;
	font-size:150%;
}

.block.funderCollab h4{
	margin:0;
}

.collabList{
	margin-bottom:5%;
}

.collabList a{
	margin-top:1%;
	display:block;
	text-align:center;
	text-decoration:none;
	color:black;
}

.funderList a{
	margin-top:1%;
	display:block;
	text-align:center;
	text-decoration:none;	
	color:black;
}

/* ----------------------------------------------------- RESEARCH ENVIRONMENT PAGE-------------------------------------------------------*/
/* University of Pittsburgh */
.row.uPitt{
	display:none;
}

/* Public Health Dynamics Lab */
.row.phdl{
	display:none;
}

/* Vaccine Modelling Initiative */
.row.vmi{
	display:none;
}

/* Description about PHDL - 2 with the MIDAS pic */
.row.descBox.midasCont{
	position:relative;
	background-color:#f7f7f7;
	height:10vw;	
}

.row.descBox.midasCont .descText{
	font-size:200%;
	text-align:justify;
	text-justify:inter-word;
	clear:right;
}

.row.descBox .descText.re{
	text-align:justify;
	text-justify:inter-word;
}

.midasCont .midas{
	float:left;
	height:10vw;
	width:15vw;	
}

.midasCont .midas img{
	width:100%;
	height:100%;
}

/* ----------------------------------------------------- COUNTRY INSTANCE PAGE & CONDITION INSTANCE PAGE-------------------------------------------------------*/

/* Banners for BOTH country instance and condition instance pages */ 

/* Logo and condition name */
.row.insPageDetails{
	margin-top:0;
	position:relative;
	border:none;
}

.row.insPageDetails .c1{
	position:relative;
	background-color:#f7f7f7;
	width:100%;
	height:300px;
}

.row.insPageDetails .pitt_logo{
	display:none;
}

.row.insPageDetails .pitt_logo img{
	width:100%;
	height:100%;
}

.row.insPageDetails .insInfo{
	position:absolute;
	top:25%;
	right:15%;
}

.row.insPageDetails .insInfo h4{
	margin-bottom:0;
	margin-top:0;
	color:teal;
	font-size:250%;
	font-style:italic;
	font-weight:normal;	
}

/* ----------------------------------------------------- COLLABORATORS AND FUNDERS LISTING PAGE-------------------------------------------------------*/
/* Banner and university logo */
.row.banner.collabFunder{
	margin-top:0;
	position:relative;
}

.row.banner.collabFunder .c1{
	width:100%;
	height:300px;
	background-image:url('../images/bannerAndSquare/CollaboratorsFundersLisingPage_banner.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.collabFunder .pitt_logo{
	position:absolute;
	top:2%;
	left:1%;
	height:13.4vw;
	width:20vw;
}

.collabFunder .pitt_logo img{
	width:100%;
	height:100%;
}

/* Collaborators */
.block.funderCollab{
	color:teal;
	text-align:center;
	font-size:100%;
}

.block.funderCollab h4{
	margin:0;
}

.collabList{
	margin-bottom:5%;
}

.collabList a{
	margin-top:1%;
	display:block;
	text-align:center;
	text-decoration:none;
	color:black;
}

.funderList a{
	margin-top:1%;
	display:block;
	text-align:center;
	text-decoration:none;	
	color:black;
}










