vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 May 2017 13:50:44 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|PITT\\SRA48
vti_modifiedby:SR|PITT\\SRA48
vti_timecreated:TR|23 May 2017 13:50:44 -0000
vti_cacheddtm:TX|23 May 2017 13:50:44 -0000
vti_filesize:IR|10430
vti_cachedlinkinfo:VX|S|../images/HomePage_AccessData.jpg S|../images/ProjecTycho_UsersMap.jpg S|../images/AboutBanner.jpg S|../images/About_MethodsActivities.jpg
vti_cachedsvcrellinks:VX|FSUS|Off_05-25-2017/Website/v16/images/HomePage_AccessData.jpg FSUS|Off_05-25-2017/Website/v16/images/ProjecTycho_UsersMap.jpg FSUS|Off_05-25-2017/Website/v16/images/AboutBanner.jpg FSUS|Off_05-25-2017/Website/v16/images/About_MethodsActivities.jpg
vti_backlinkinfo:VX|
